$maroon: #601;
$lighter: #812;
$lightest: #924;

#page-container {
    margin-bottom: 70px;
}

#tabnav {
    height: 60px;
    width: 100%;
    background: #faeaef;
    position: fixed;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid $lightest;
}

.tabnav-item {
    display: inline-block;
    width: 120px;
    max-width: 33%;
    margin: auto;
    text-align: center;
    padding: 0;
}

.tabnav-item:hover {
    color: $maroon;
}

.active {
    color: $maroon;
}

.tabnav-item-glyph {
    font-size: 24px;
}

.tabnav-item span {
    margin: auto;
    text-align: center;
}

#search-page, #help-page {
    text-align: center;
    width: 100%;
    font-size: 16px;
}

#search-text {
    padding: 30px 10px;
}

.help-text {
    padding: 30px 15px 0 15px;
}

#search-speak {
    width: 180px;
    height: 180px;
    padding: 20px;
    border-radius: 100px;
    margin: 25px auto;
    line-height: 40px;
}

#search-speak-icon {
    font-size: 80px;
    color: $maroon;
}

#search-text-btn {
    margin: 15px 0;
}

#map-img {
    margin-top: 40px;
    width: 90%;
    height: 270px;
    overflow: hidden;
}

#search-textbox-container {
    padding: 15px 0 0 0;
    margin-bottom: -15px;
    width: 75%;
    margin: auto;
}

#search-textbox {
}

.loading {
    padding: 15px 0;
    animation: spin 2s infinite linear;
    font-size: 120px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

#cancel-search-btn {
    margin-top: 40px;
}

#graph-img {
    margin-top: 10px;
    width: 90%;
    height: 270px;
    overflow: hidden;
}

table {
    margin: auto;
    font-size: 120%;
}

.metric-header {
    text-align: center;
    padding-bottom: 4px;
}

.metric-title {
    text-align: right;
    border-right: 1px solid $lightest;
}

.metric-number {
    text-align: left;
    border-left: 1px solid $lightest;
}

.metric-title, .metric-number {
    padding: 5px 7px !important;
}

.search-speak-inactive {
    background-color: #fff0f4;
    box-shadow: 0 0 4px 4px $lightest;
}

.search-speak-active {
    background-color: #eaaaaa;
    box-shadow: 0 0 6px 6px #faa;
    text-decoration: bold;
}

.btn-custom {
    background-image: linear-gradient(to bottom, $lighter 0, $maroon 100%) !important;
    border: 1px solid $lightest !important;   // Man vs. Bootstrap
    color: white;
}

.btn-custom:hover, .btn-custom:focus {
    color: white !important;
}
